body {
    
    text-align: center;
}

#forcss {
    
    display : flex;

    justify-content : center;
    
}

.asd > td{
    
    display: flex;
    
}

#bigbox {

    display: flex;
    justify-content : center;

}

.box {
    
    display: flex; 
}


