div {
    border: 1px solid black;
}

.container-1 {
    display: flex;

    width: 800px;
    height: 500px;
    
    flex-direction: column;
}

.header-1, .footer-1 {
    background-color:gray;
    flex-basis: 20%;
}

.body-1 { 
    /* 
        body-1-1
        body-1-2
        body-1-3의 부모면서
        container-1의 자식
         */ 
    flex-basis: 60%;

    display: flex;
}

.body1-1{
    background-color: skyblue;
    flex-basis: 30%;
}

.body-1-2{
    background-color: red;
    flex-basis:50%;
}

.body-1-3{
    background-color: bisque;
    flex-basis: 20%;
}


/* ****************** */

.container-2 {
    display: flex;

    width :700px;
    height: 500px;

    flex-direction: column;
}

.header-2 {
    background-color: red;
    flex-basis: 20%;
}

.body-2 {
    flex-basis: 80%; 

    display: flex;
}

.body-2-1 {
    flex-basis: 30%;
    
    background-color: yellow;
    
}

.body-2-2{
    
    flex-direction:column ;
    display: flex;

    flex-basis:70%;
}

.body-2-2-1 {
        
    background-color: green;
    flex-basis: 70%;
}

.body-2-2-2{

    background-color: blue;
    flex-basis:30%;
}

/* **************************** */

.container-3 {
    display: flex;

    width :700px;
    height: 500px;

    flex-direction: column;
}

.header-3 {
    background-color: yellow;
    flex-basis: 20%;
}

.body-3{
    display: flex;

    flex-basis: 80%;
}

.body-3-1{
    background-color: skyblue;
    flex-basis: 30%;
}

.body-3-2{
    display:flex ;
    flex-direction: column;
    flex-basis: 100%;
}

.body-3-2-1 {
    display: flex;
    flex-direction: row;

    background-color: aqua;
    flex-basis: 50%;
    
}

.body-3-2-1-1 {
    display: flex;
    
    flex-basis: 100%;
}
.body-3-2-1-2 {
    display: flex;
    background-color: red;
    flex-basis: 50%;
}

.body-3-2-2 {
    display: flex;
    background-color: purple;
    flex-basis: 50%;
}

/* ******************** */

.container-4 {
    display: flex;

    width :700px;
    height: 500px;

    flex-direction: column;
}

.thead, .tfoot {
    background-color: aquamarine;
    flex-basis: 20%;
}

.tbody {
    display: flex;

    flex-basis: 60%;
}

.tbody-1 {
    background-color: blue;
    flex-basis: 30%;
}

.tbody-2 {
    display:flex;
    
    background-color: orange;
    flex-basis: 70%;

    justify-content: space-between;
    flex-wrap:  wrap-reverse;
} 

.tbody-2-1, .tbody-2-2, .tbody-2-3 {
    width: 140px;
    height: 140px;
}


/* **************************** */

.container-5 {
    display: flex;

    width :700px;
    height: 400px;

    flex-direction: column;
}

.up {
    
    display: flex;
    background-color: yellow;
    flex-basis: 30%;

    flex-direction: row;
}

.up-1 {
    flex-basis: 20%;
}

.up-2 {
    flex-basis: 40%;
}

.up-3 {
    flex-basis: 40%;
}

.down {
    display: flex;

    flex-direction: row;
    flex-basis: 70%;
}

.down-1 {
    
    
    background-color: aquamarine;
    
    flex-basis:25%;
    align-items: flex-start;
    display: flex;
    display: inline-block;
}

.down-1-1 {
    
    block-size: 33%;

}
.down-1-2 {
    
    block-size: 33%;
}
.down-1-3 {
    
    block-size: 33%;
}

.down-2 {
    background-color: pink;

    flex-basis: 15%;
}

.down-3 {
    display: flex;
     flex-basis: 40%;

    flex-direction: column;
    
}

.down-3-1 {
    
    background-color: orange;
    
    flex-basis: 55%;
    
}

.down-3-2 {
    display: flex;
    background-color: red;
    
    flex-basis: 45%;
    
}

.down-3-2-1 {
    display: flex;
    flex-direction: row;
    flex-basis: 50%
}
/* .down-3-2-1 {
    display: flex;

    flex-direction: column;
    flex-basis: 50%;
}

.aaa, .aaa1 {
    background-color:green;
    
    flex-basis: 50%;
}

.aaa1 {
    background-color:green;
    flex-basis: 50%;
} */

.down-4{
    display: flex;
    background-color: pink;
    flex-direction: column;
    
    flex-basis: 20%;
    
}

.down-4-1 {
    height: 20%;
}
.down-4-2 {
    height: 80%;
}

.down-4-3 {
    height: 20%;
}







