* {
    box-sizing: border-box;

    border: 1px solid black;
}



main {
    
    width: 1400px;

    justify-content: space-around;

}


header {
    display: flex;
    
    height: 80px;
    
    
    margin: auto;
    
}

header > section:nth-of-type(1) { flex-basis: 15%}

header > section:nth-of-type(3) { flex-basis: 20%}

header > section:nth-of-type(2) { 
    flex-basis: 65%;
    display: flex;

       
    justify-content: center;
    align-items: center;
}



/* youtube 로고부터 */

#header {
    display:flex;

    justify-content: center;
    align-items: center;
}
#header-1 {
    display: flex;
    
}

#header-1 section:only-child {
    border:0 ;
    outline:0 ;
} 

#youtubelogo {
    width:150px;

    padding-top: 10px;
    padding-left:30px;
}

#top-menu {
    cursor: pointer;
    font-size: 20px;
    
    padding-left: 30px;
    border: 0;
    outline: 0;
    background-color: transparent;
}


/* 검색바 부분 */

header > section:nth-of-type(2) {
    
}

#search-bar {
    margin:0 ;
    padding:0 ;
    
}

#search-bar > section {
    display: flex;

}



/* 검색 스타일 */
#search-bar fieldset {
    border: 2px solid #ababab;
    margin: 0;
    border-radius: 20px;

    margin:0 ;
    padding: 1px;

    display: flex;
}

#seahr-bar > .small-bar {
    font-size: 40px;
    color: rgb(156, 156, 156) ;

}



#txt-place {
    padding: 0px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    width: 400px;
    outline: none;
    flex-basis: 80%;
    background-color: transparent;
}

#search-btn {
    
    cursor: pointer;
    font-size: 20px;
    color: #88878a;
    border:none;

    width:18px;
    background-color: #d2d2d279;
    border-radius: 0 20px 20px 0;
    flex-basis: 20%;
}

#vbn{
    display: flex;
    justify-content: center;

}

.vbn > .purple-name {
    border :none;

    font-size: 10px;
}

.purple-name p {
    font-size: 10px;
    font-weight: bold;
    
    color: white;

    margin: 0;
    
    right: 20px;
    
    
    justify-content: center;
    align-items: center;

    background-color: rgb(181, 50, 181);
}

#video-btn {
    padding:0 ;
}

#bell-btn{
 padding-left: 10px;;
}

.purple-name {

    display: flex;
    width: 30px;
    height: 30px;
    padding-left:  10px;
}

/* main vid */

#vid {
    display: flex;
    flex-direction: column;

    width:1000px;
}

