* {
    box-sizing: border-box;

    /* border: 1px solid black; */
}

body {
    margin: 0;
}




header {
    width: 100vw;
    height: 56px;
    padding: 0 16px;
    display: flex;

    flex-direction: row;
    
    justify-content: space-between;
    margin : auto;
}



#youtube-logo {
    width: 120px;
   
    
    margin: auto;
}

#query {
    width: 732px;
    height: 40px;
}

#video-bell-name{
    width: 225px;
    height: 40px;
    padding-right: 50px;

    display: flex;
}


main {
    
    display: flex;
    

    justify-content: flex-start;
}

.video-link {
    display: flex;
    border-radius: 90deg;
}

#content-1{
    display: flex;
    padding-top: 24px;;
    padding-left: 24px;
    
}

.word{
    display: block;
}

#van {
    display: flex;
    display: flex;
    
    

}
#van > .van-1{

}

.thumb{
    display: inline-block
}

.view .view-1 {
    background-color: lightgray;    
    box-sizing: auto; 
}

.second{
    color: blue;
}